.productImg{
    width: 200px;
    height: 200px;
}


.productLink{
    text-decoration: none;
    color: black;
}

.productItemContainer{
    width: 300px;
    margin: 10px;
    padding: 20px;
}
.productItemContainer:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.heading{
    font-size: 20px;
}